@page
@using IsikUn.IncubationCentre.Localization
@using IsikUn.IncubationCentre.Permissions
@using IsikUn.IncubationCentre.Web.Pages.Entrepreneurs
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model EditModalModel
@inject IStringLocalizer<IncubationCentreResource> L
@{
    Layout = null;
}
<script>
    if(location.href.includes("Entrepreneurs/Detail?id")){
        $("#Entrepreneur_IdentityUserId").parent("div").hide();
        $("#Entrepreneur_isActivated").parent("div").hide();
    }
</script>
<form asp-page="/Entrepreneurs/EditModal">
    <abp-modal>
        <abp-modal-header title="@L["EditEntrepreneur"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Id" />
            <abp-select asp-for="Entrepreneur.IdentityUserId" asp-items="Model.Users" />
            <abp-input asp-for="Entrepreneur.About" />
            <abp-select asp-for="Entrepreneur.SkillIds" asp-items="Model.Skills" />
            <abp-input asp-for="Entrepreneur.Experience" />
            <abp-input asp-for="Entrepreneur.isActivated" />
            <abp-input asp-for="Entrepreneur.CreationTime" type="hidden" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
