@page
@using IsikUn.IncubationCentre.Localization
@using IsikUn.IncubationCentre.Permissions
@using IsikUn.IncubationCentre.Web.Pages.Projects
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model EditModalModel
@inject IStringLocalizer<IncubationCentreResource> L
@{
    Layout = null;
}
<form asp-page="/Projects/EditModal">
    <abp-modal>
        <abp-modal-header title="@L["EditProject"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input type="hidden" asp-for="Project.EntreprenurId"/>
            <abp-input type="hidden" asp-for="Id"/>
            <abp-input asp-for="Project.Name" />
            <abp-input asp-for="Project.Tags" />
            <abp-input asp-for="Project.SharePerInvest" />

            <abp-row>
                <abp-column size="_7">
                    <abp-input asp-for="Project.TotalValuation" />
                </abp-column>
                <abp-column size="_5">
                    <abp-select asp-for="Project.TotalValuationCurrencySymbol" asp-items="Model.Currencies"/>
                </abp-column>
            </abp-row>
            <abp-select asp-for="Project.CollaboratorIds" asp-items="Model.Collaborators"/>
            <abp-select asp-for="@Model.Project.Status"/>
            <abp-input asp-for="Project.OpenForInvesment" />
            <abp-input asp-for="Project.InvesmentReady" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>

<script>
        $(function(){
            if(!abp.currentUser.roles.includes("System Manager")){
                $("#Project_InvesmentReady").parent("div").hide();
            }
            var status = $("#Project_Status").val();
            if(status == "InReview" || status == "Declined"){
                $("#Project_Status").attr("readonly","readonly");
                $("#Project_Status option:not(:selected)").remove();
            }else{
                $("option[value='Approved']").remove();
                $("option[value='InReview']").remove();
                $("option[value='Declined']").remove();
            }

            $("#Project_EntreprenurId").parent("div").hide();
            $("#Project_Tags").attr("placeholder",`@L["YouCanAddNewTagWithEnterOrComma"]`);
            var inputTags = document.querySelector("#Project_Tags");
            var tagify = new Tagify(inputTags, {
                originalInputValueFormat: valuesArr => valuesArr.map(item => item.value).join(',')
            });
        })
</script>

