@page
@using IsikUn.IncubationCentre.Localization
@using IsikUn.IncubationCentre.Permissions
@using IsikUn.IncubationCentre.Web.Pages.Events
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model CreateModalModel
@inject IStringLocalizer<IncubationCentreResource> L
@{
    Layout = null;
}
<form asp-page="/Events/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["NewEvent"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-select asp-for="Event.ProjectId" asp-items="Model.Projects"/>
            <abp-input asp-for="Event.Title" />
            <abp-input asp-for="Event.EventDate" />

            <div class="mb-3">
                <label class="form-label" for="Event_Description">@L["Description"].Value</label>
                <textarea rows="4" type="text" id="Event_Description" name="Event.Description" value="" class="form-control "></textarea>
                <span class="text-danger field-validation-valid" data-valmsg-for="Event.Description" data-valmsg-replace="true"></span>
            </div>

        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>

<script>
    $(function(){
        $('[type="datetime-local"]').attr("type","date");
        $('[type="date"]').each(function(i,e){
            $(e).val($(e).attr("value").split("T")[0])
        });

        if(location.href.includes("/Projects/Detail?id")){
            var projectId = location.search.replace("?id=","");
            $("#Event_ProjectId option").each(function(i,e){
                if($(e).val() != projectId) {
                    $(e).remove();
                }
            });
        }
    });
</script>