@using Volo.Abp.UI.Navigation
@model ApplicationMenuItem
@{
    var elementId = string.IsNullOrEmpty(Model.ElementId) ? string.Empty : $"id=\"{Model.ElementId}\"";
    var cssClass = string.IsNullOrEmpty(Model.CssClass) ? string.Empty : Model.CssClass;
    var disabled = Model.IsDisabled ? "disabled" : string.Empty;
    var url = string.IsNullOrEmpty(Model.Url) ? "#" : Url.IsLocalUrl(Model.Url) ? Url.Content(Model.Url.EnsureStartsWith('~')) : Model.Url;
}

<li class="sidebar-item  @cssClass @disabled" @elementId>
    <a class="sidebar-link" href="@url" id="Menu_@(Model.Name)">
        @if (Model.Icon != null)
        {
            if (Model.Icon.StartsWith("fa"))
            {
                <i class="@Model.Icon"></i>
            }
        }
        <span class="align-middle">
            @Model.DisplayName
        </span>
    </a>
</li>
