@page
@using Microsoft.AspNetCore.Mvc.Localization
@using IsikUn.IncubationCentre.Localization
@using Volo.Abp.Users
@model IsikUn.IncubationCentre.Web.Pages.IndexModel
@inject IHtmlLocalizer<IncubationCentreResource> L
@inject ICurrentUser CurrentUser
@section styles {
<abp-style src="/Pages/Index.css" />
}
@section scripts {
<abp-script src="/Pages/Index.js" />
}

<div class="container">
  <div class="mx-auto">
      <p class="alert alert-warning">
          @L["AdminDashBoardMessage"].Value
      </p>
  </div>
</div>
