@page
@using IsikUn.IncubationCentre.Localization
@using IsikUn.IncubationCentre.Permissions
@using IsikUn.IncubationCentre.Web.Pages.Mentors
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model EditModalModel
@inject IStringLocalizer<IncubationCentreResource> L
@{
    Layout = null;
}

<form asp-page="/Mentors/EditModal">
    <abp-modal>
        <abp-modal-header title="@L["NewMentor"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input class="hide" asp-for="Mentor.Id" />
            <abp-input asp-for="Id" />
            <abp-select asp-for="Mentor.IdentityUserId" asp-items="Model.Users" />
            <abp-input asp-for="Mentor.About" />
            <abp-select asp-for="Mentor.SkillIds" asp-items="Model.Skills" />
            <abp-input asp-for="Mentor.Experience" />
            <abp-input asp-for="Mentor.isActivated" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
