<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                <p class="mb-0">
                    <a class="text-muted" href="/FAQ" target="_blank"><strong>FAQ</strong></a> 
                    <a class="text-muted ms-5" href="/" target="_blank"><strong>IncubationCenter</strong></a> &copy;
                </p>
            </div>
        </div>
    </div>
</footer>
